.login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #999999;
}
.login h3{
    font-weight: 600;
}
.login img{
    width: 20px;
    height: 20px;
}
.google-box{
    width: 100%;
}
.google-box p{
    margin-bottom: 0!important;
}
.google-box:hover{
    background-color: #79b3ff;
    color: white;
}
